    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        overflow: hidden;
    }
    
    .container-fluid {
        position: relative;
    }
    
    .gm-logo {
        position: absolute;
        top: 20px;
        left: 30px;
    }
    
    .main-img {
        position: absolute;
        top: 18vh;
        left: 7vw;
    }
    
    .img-size {
        width: 48vw;
    }
    
    .col-height {
        height: 100vh;
    }
    
    .toggle-switch {
        position: absolute;
    }
    
    .btn-position {
        position: absolute;
    }
    /* .hero {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50px;
        } */
    
    .form-box {
        height: auto;
        width: 377;
        position: relative;
        margin: 14% auto;
        background: #fff;
        padding: 5px;
        /* overflow: hidden; */
    }
    
    .button-box {
        width: 221px;
        margin: 35px auto;
        position: relative;
        /* box-shadow: 0 0 20px 9px #ff61241f; */
        box-shadow: 0 0 20px 9px #245dff1f;
        border-radius: 30px;
    }
    
    .toggle-btn {
        padding: 10px 30px;
        cursor: pointer;
        background: transparent;
        border: 0;
        outline: none;
        position: relative;
    }
    
    #btn {
        top: 0;
        left: 0;
        position: absolute;
        width: 110px;
        height: 100%;
        background-image: linear-gradient(to right top, #4bb0fd, #50b4fe, #56b9fe, #5cbdff, #62c1ff);
        border-radius: 30px;
        transition: .5s;
    }
    
    .input-group {
        top: 180px;
        position: absolute;
        width: 280px;
        transition: .5s;
    }
    
    .input-field {
        width: 100%;
        padding: 10px 0;
        margin: 5px 0;
        border-left: 0;
        /* border-top: 0;
            border-right: 0;
            border-bottom: 1px solid #999; */
        /* outline: none; */
        background: transparent;
    }
    
    .submit-button {
        width: 401px;
        padding: 10px 30px;
        cursor: pointer;
        display: block;
        margin: auto;
        background-image: linear-gradient(to right top, #4bb0fd, #50b4fe, #56b9fe, #5cbdff, #62c1ff);
        border: 0;
        outline: none;
        border-radius: 30px;
        font-family: Roboto;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: 2.88px;
        color: #ffffff;
        position: relative;
        right: 105px;
        top: 35px;
    }
    
    .check-box {
        left: 36px;
        position: relative;
    }
    
    .span-block {
        color: #777;
        font-size: 12px;
        position: absolute;
        margin: -3px 0px 0px 55px;
    }
    
    .block-alignment {
        margin: -3px 0px 0px 328px !important;
    }
    
    #login {
        left: 0px;
        top: 30px;
    }
    
    #register {
        top: -222px;
        left: 540px;
    }
    
    input[type="button"] {
        outline: none;
    }
    
    input[type="button"]::-moz-focus-inner {
        border: 0;
    }
    
    button:focus {
        outline: none !important;
    }
    
    .log-reg-text {
        width: 143px;
        height: 63px;
        font-family: Roboto;
        font-size: 35px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: 2.76px;
        text-align: left;
        color: #4a3d3d;
        right: 230px;
        position: absolute;
        bottom: 275px;
    }
    /* new css */
    
    .right-block {
        position: relative;
        top: 24vh;
        left: 6vw;
    }
    
    .topgap10 {
        margin-top: 10px;
    }
    
    .topgap15 {
        margin-top: 15px;
    }
    
    .topgap20 {
        margin-top: 20px;
    }
    
    .topgap25 {
        margin-top: 25px;
    }
    
    .topgap40 {
        margin-top: 40px;
    }
    
    .leftgap10 {
        margin-top: 10px;
    }
    
    .leftgap15 {
        margin-top: 15px;
    }
    
    .leftgap20 {
        margin-top: 20px;
    }
    
    .login-input {
        width: 399px;
        height: 40px;
        border-radius: 4px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        padding-left: 50px;
        border: none;
        outline: none;
    }
    
    .img-container {
        width: 37px;
        height: 40px;
        border-radius: 4px;
        background-color: #efefef;
        position: relative;
        left: 37px;
    }
    
    .img-alignment {
        width: 20.2px;
        height: 20.2px;
        object-fit: contain;
        position: relative;
        left: 7px;
        top: 5px;
    }
    
    .signin {
        position: relative;
        left: 134px;
        bottom: 30px;
        width: 179px;
        height: 56px;
        font-family: BentonSans;
        font-size: 48px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: 3.76px;
        text-align: left;
        color: #0072ff;
    }