    /*
    DEMO STYLE
*/
    
    @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
    body {
        font-family: 'Poppins', sans-serif;
        background: #fafafa;
    }
    
    p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.7em;
        color: #999;
    }
    
    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }
    
    .navbar {
        padding: 15px 10px;
        background: #fff;
        border: none;
        border-radius: 0;
        margin-bottom: 40px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }
    
    .navbar-btn {
        box-shadow: none;
        outline: none !important;
        border: none;
    }
    
    .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #ddd;
        margin: 40px 0;
    }
    
    i,
    span {
        display: inline-block;
    }
    /* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
    
    .wrapper {
        display: flex;
        align-items: stretch;
        background: #fff;
    }
    
    #sidebar {
        min-width: 250px;
        max-width: 250px;
        background: #fff;
        color: #000;
        transition: all 0.1s;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }
    
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
    }
    
    #sidebar.active .sidebar-header h3,
    #sidebar.active .CTAs {
        display: none;
    }
    
    #sidebar.active .sidebar-header strong {
        display: block;
    }
    
    #sidebar ul li a {
        text-align: left;
        padding: 12px !important;
    }
    
    #sidebar.active ul li a {
        /* padding: 20px 10px; */
        padding: 10px 25px;
        text-align: center;
        font-size: 0.85em;
    }
    
    #sidebar.active ul li a i {
        margin-right: 0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }
    
    #sidebar.active ul li a strong {
        display: none;
    }
    
    #sidebar.active ul ul a {
        padding: 10px !important;
    }
    
    #sidebar.active .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    
    #sidebar .sidebar-header {
        padding: 20px;
        background: #fff;
        box-shadow: #fff;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }
    
    #sidebar .sidebar-header strong {
        display: none;
        font-size: 1.8em;
    }
    
    #sidebar ul.components {
        padding: 20px 0;
        margin-top: 12px;
    }
    
    #sidebar ul li a {
        padding: 12px;
        display: block;
        font-family: BentonSans;
        font-size: 14px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: 0.84px;
        text-align: left;
        color: #000000;
    }
    
    #sidebar ul li a:hover {
        color: #7386D5;
        background: #fff;
    }
    
    #sidebar ul li a i {
        margin-right: 10px;
    }
    
    #sidebar ul li.active>a,
    a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }
    
    a[data-toggle="collapse"] {
        position: relative;
    }
    
    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
    
    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #6d7fcc;
    }
    
    ul.CTAs {
        padding: 20px;
    }
    
    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }
    
    a.download {
        background: #fff;
        color: #7386D5;
    }
    
    a.article,
    a.article:hover {
        background: #6d7fcc !important;
        color: #fff !important;
    }
    
    .btn-collapsable {
        border-radius: 50%;
        height: 27px;
        width: 27px;
        position: relative;
        left: -13px;
        top: 150px;
    }
    
    .logo-border {
        width: 112px;
        height: 73px;
        border-radius: 16px;
        background-color: #ffffff;
        position: relative;
        margin: 10px auto;
    }
    
    .glocal-mindsmall-logo {
        width: 99px;
        height: 60px;
        object-fit: contain;
        margin-left: 6px;
        margin-top: 4px;
    }
    
    .logo-border-small {
        width: 5vw;
        height: 8vh;
        border-radius: 16px;
        background-color: #ffffff;
        position: relative;
        margin: 5px -16px;
    }
    
    .glocal-mindsmall-logo-small {
        width: 70px;
        height: 8vh;
        object-fit: contain;
    }
    
    .toggle {
        position: relative;
        right: 6px;
        bottom: 4px;
    }
    
    .logo-container {
        width: 30px;
        height: 25px;
        object-fit: contain;
        box-shadow: 1px 1px 7px 2px #b7b4b4;
        border-radius: 3px;
        cursor: pointer;
    }
    
    .pointer {
        cursor: pointer;
    }
    
    .request-header {
        font-family: BentonSans;
        font-size: 15px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: 0.9px;
        text-align: left;
        color: #000000;
    }
    
    .topgap10 {
        margin-top: 10px;
    }
    
    .topgap12 {
        margin-top: 12px;
    }
    
    .topgap15 {
        margin-top: 15px;
    }
    
    .topgap20 {
        margin-top: 20px;
    }
    
    .topgap25 {
        margin-top: 25px;
    }
    
    .topgap30 {
        margin-top: 30px;
    }
    
    .topgap40 {
        margin-top: 40px;
    }
    
    .topgap60 {
        margin-top: 60px;
    }
    
    .leftgap95 {
        margin: 0px auto;
    }
    
    .leftgap5 {
        margin-left: 5px;
    }
    
    .topgap-minus30 {
        margin-top: -30px
    }
    
    .count-card {
        height: 75px;
        border-radius: 8px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        position: relative;
    }
    
    .card-logo {
        position: relative;
        top: 10px;
    }
    
    .card-txt {
        position: absolute;
        top: 58px;
        left: 6px;
        font-family: BentonSans;
        font-size: 14px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: 0.84px;
        text-align: left;
        color: #458beb;
    }
    
    .numeric {
        position: absolute;
        right: 30px;
        top: 12px;
        font-family: BentonSans;
        font-size: 26px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.15;
        letter-spacing: 1.56px;
        text-align: left;
        color: #000000;
    }
    
    .padding-left10 {
        padding-left: 10px;
    }
    
    .table-box-header {
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.15;
        letter-spacing: 1.56px;
        font-family: BentonSans;
        height: 40px;
        width: 112px;
        border: 1px solid #948f8f;
        background: #55b3f3;
        color: #fff;
        border-bottom: none;
        position: relative;
        border-radius: 4px;
        padding: 10px;
        top: 4px;
    }
    
    table thead tr th {
        font-family: BentonSans;
        font-size: 14px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: 0.72px;
        text-align: left;
        color: #fff;
        background-color: #55b3f3;
    }
    
    table tbody tr td {
        font-family: BentonSans;
        font-size: 12px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: 0.6px;
        text-align: left;
        color: #131313;
    }
    
    .table td,
    .table th {
        padding: .35rem !important;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    
    .bg-light {
        background-color: #fff!important;
    }
    
    .status-box {
        width: 67%;
        border-radius: 4px;
        background-color: #ffa500;
        height: 18px;
        border: 0.5px solid grey;
        font-family: BentonSans;
        font-size: 12px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: 0.6px;
        text-align: center;
        color: #ffffff;
        padding: 1px;
    }
    
    .complete {
        background-color: #458beb !important;
    }
    
    .pagination {
        left: 75%;
        position: relative;
    }
    
    .full-width {
        width: 100%;
    }
    
    .btn-form {
        position: relative;
        top: 0px;
        left: 43%;
    }
    
    #header-label {
        font-family: BentonSans !important;
        font-size: 18px !important;
        font-weight: 800 !important;
        font-stretch: normal !important;
        font-style: normal !important;
        line-height: 1.17 !important;
        letter-spacing: 2.16px !important;
        text-align: left !important;
        color: #0099ff !important;
        margin: 0 auto;
        padding-right: 300px;
        padding-top: 5px;
    }
    
    .google-crawler-label {
        width: 153px;
        height: 39px;
        border-radius: 4px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #458beb;
        font-family: BentonSans;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: 1.08px;
        text-align: left;
        color: #ffffff;
        padding: 9px;
        position: relative;
        bottom: 30px;
        right: 15px;
    }
    
    #twitter-label {
        width: 214px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #458beb;
    }
    
    #kol-ranking-label {
        width: 214px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #458beb;
    }
    
    .pubmed-clinical-label {
        width: 235px;
        height: 39px;
        border-radius: 4px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #458beb;
        font-family: BentonSans;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: 1.08px;
        text-align: left;
        color: #ffffff;
        padding: 9px;
        position: relative;
        bottom: 30px;
        right: 15px;
    }
    
    .sample-download {
        font-family: BentonSans;
        font-size: 13px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        position: absolute;
        right: 30px;
        top: 85px;
    }
    /* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
    
    #content {
        width: 100%;
        padding: 20px;
        min-height: 100vh;
        transition: all 0.3s;
    }
    /* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
    
    @media (max-width: 768px) {
        #sidebar {
            min-width: 80px;
            max-width: 80px;
            text-align: center;
            margin-left: -80px !important;
        }
        .dropdown-toggle::after {
            top: auto;
            bottom: 10px;
            right: 50%;
            -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
            transform: translateX(50%);
        }
        #sidebar.active {
            margin-left: 0 !important;
        }
        #sidebar .sidebar-header h3,
        #sidebar .CTAs {
            display: none;
        }
        /* #sidebar ul li strong {
                display: none;
            } */
        #sidebar .sidebar-header strong {
            display: block;
        }
        #sidebar ul li a {
            padding: 20px 10px;
        }
        #sidebar ul li a span {
            font-size: 0.85em;
        }
        #sidebar ul li a i {
            margin-right: 0;
            display: block;
        }
        #sidebar ul ul a {
            padding: 10px !important;
        }
        #sidebar ul li a i {
            font-size: 1.3em;
        }
        #sidebar {
            margin-left: 0;
        }
        #sidebarCollapse span {
            display: none;
        }
        .logo-border {
            width: 68px !important;
            height: 58px !important;
            border-radius: 16px;
            background-color: #ffffff;
            position: relative;
            margin: -4px -15px !important;
        }
        .glocal-mindsmall-logo {
            width: 60px !important;
            height: 60px !important;
            object-fit: contain !important;
        }
    }
    /* Search css */
    
    .searchbox-icon,
    .searchbox-submit {
        width: 50px;
        height: 50px;
        display: block;
        position: absolute;
        font-family: verdana;
        font-size: 22px;
        right: 20px;
        padding: 0;
        margin: 0;
        border: 0;
        outline: 0;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
        color: #dcddd8;
        background: #fff;
        box-shadow: -2px 3px 11px #dcddd8;
        border: 1px solid #dcddd8;
        top: 165px;
    }
    /* Google Crawler css */
    
    .upload-Input-Format {
        font-family: BentonSans;
        font-size: 14px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
    }
    
    .download-form {
        position: absolute;
        right: 16px;
        top: -24px;
    }
    
    .run-btn {
        width: 91px;
        height: 28px;
        border-radius: 4px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #458beb;
        position: absolute;
        top: 62px;
        left: 287px;
        font-family: BentonSans;
        font-size: 11px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: 0.88px;
        text-align: center;
        color: #ffffff;
        border: 0.5px;
        cursor: pointer;
        z-index: 9999;
    }
    
    .crawler-twitter-run-btn {
        width: 91px;
        height: 28px;
        border-radius: 4px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #458beb;
        position: absolute;
        top: 3px;
        left: 350px;
        font-family: BentonSans;
        font-size: 11px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: 0.88px;
        text-align: center;
        color: #ffffff;
        border: 0.5px;
        cursor: pointer !important;
        z-index: 9999;
    }
    
    .common-run-btn {
        width: 91px;
        height: 28px;
        border-radius: 4px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #458beb;
        position: relative;
        top: 0px;
        left: 45%;
        font-family: BentonSans;
        font-size: 11px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: 0.88px;
        text-align: center;
        color: #ffffff;
        border: 0.5px;
        cursor: pointer;
        z-index: 9999;
    }
    
    .note {
        font-size: 10px;
        font-weight: 600;
        color: #f11212;
    }
    /* Twitter Css */
    
    .letter-spacing-twitter {
        letter-spacing: -0.1px !important;
    }
    
    .twitter-upload-text {
        letter-spacing: -0.8px !important;
    }
    /* KOl Css */
    
    .letter-spacing-kol {
        font-size: 14px;
        letter-spacing: 0.1px;
    }
    
    .main-nav {
        width: 380px;
        position: relative;
        margin: 0px auto;
    }
    
    .tile {
        margin: 0px auto;
        width: 100%;
    }
    
    #tile-1 .tab-pane {
        padding: 15px;
        height: 80px;
    }
    
    #tile-1 .nav-tabs {
        position: relative;
        border: none!important;
        background-color: #fff;
        /*   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); */
        border-radius: 6px;
    }
    
    #tile-1 .nav-tabs li {
        margin: 0px!important;
    }
    
    #tile-1 .nav-tabs li a {
        position: relative;
        margin-right: 0px!important;
        padding: 20px 40px!important;
        font-size: 16px;
        border: none!important;
        color: #333;
    }
    
    #tile-1 .nav-tabs a:hover {
        background-color: #fff!important;
        border: none;
    }
    
    #tile-1 .slider {
        display: inline-block;
        width: 30px;
        height: 4px;
        border-radius: 3px;
        background-color: #39bcd3;
        position: absolute;
        z-index: 1200;
        bottom: 0;
        transition: all .4s linear;
        left: 212px;
        width: 150px;
    }
    
    #tile-1 .nav-tabs .active {
        background-color: transparent!important;
        border: none!important;
        color: #39bcd3!important;
    }
    /* Active class */
    
    .active strong {
        color: #0099ff;
    }
    
    .non-active {
        border: none !important;
    }
    
    .navbar {
        padding: 10px 10px !important;
    }
    
    .dropdown {
        cursor: pointer;
    }
    
    #left-side-panel {
        margin: 14px -185px;
    }
    
    .input-label-box {
        width: 330px;
        height: 48px;
        position: absolute;
        right: 70px;
        box-shadow: -2px 3px 11px #dcddd8;
        padding-left: 12px;
    }
    
    .inline-grid {
        display: inline-grid;
        width: 150px;
    }
    
    #type_status_header {
        font-family: BentonSans;
        font-size: 16px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: 0.6px;
        text-align: left;
        color: #000000;
    }
    
    .custom-file-label {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        height: calc(2.25rem + 2px);
        padding: 8px !important;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        font-size: 13px !important;
    }
    
    .top {
        position: absolute;
        right: 21px;
        top: 170px;
        cursor: pointer;
        height: 36px;
        box-shadow: 0 3px 19px 9px rgba(86, 79, 79, 0.16);
        width: 25px;
    }
    
    .bottom {
        position: absolute;
        top: 170px;
        right: 48px;
        display: none;
        height: 35px;
        width: 300px;
        box-shadow: 0 3px 19px 9px rgba(86, 79, 79, 0.16);
        padding: 10px 7px;
    }
    
    .filter_class {
        position: relative;
        top: 9px;
        left: 5px;
        height: 20px;
    }
    
    .logout-Container {
        /* position: absolute;
        bottom: 5px; */
        position: relative;
        top: 100px;
    }
    
    .sample-download-kol {
        font-family: BentonSans;
        font-size: 13px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        position: absolute;
        top: -16px;
        right: 45px;
    }
    
    @media (min-width: 576px) {
        .modal-dialog {
            max-width: 500px;
        }
    }
    /* .modal-content {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 750px;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: .3rem;
        outline: 0;
        height: 350px;
    } */
    
    .modal-spacing {
        margin: 15px 40px;
    }
    
    #myModal {
        z-index: 99999 !important;
    }
    
    .input-width {
        width: 80% !important;
        height: 40px;
    }
    /* .custom-input {
        width: 100%;
        height: 30px;
    } */
    
    .toggle-password {
        position: absolute;
        top: 12px;
        right: 110px;
    }
    
    .toggle-confrim-password {
        position: absolute;
        top: 12px;
        right: 110px;
    }
    
    .btn-white {
        background-color: #fff;
        color: #000000;
        border: 1px solid #000;
    }
    
    .btn-blue {
        background-color: #458beb;
        color: #fff;
    }
    
    .modal-header {
        background-color: #e2e2e2;
    }
    
    .iconic {
        font-size: 20px;
        color: #458beb;
    }
    
    .filterAdding {
        position: absolute;
        right: 0px;
        top: 99px;
        height: 50px;
        width: 300px;
    }
    
    .add_btn_position {
        width: 25px;
        top: 20px;
        position: relative;
        left: 40px;
        cursor: pointer;
    }
    
    .filter_tag {
        position: relative;
        top: 20px;
        left: 38px;
    }
    
    .fa-search {
        position: relative;
        right: 30px;
        top: 1px;
    }
    
    .custom-width {
        width: 160px;
        height: 27px;
        border: solid 1px #0099ff !important;
        color: #636a73;
        font-family: SourceSansPro;
    }
    
    .custom-input-width {
        width: 160px;
        height: 27px;
        border: solid 1px #0099ff !important;
        font-family: SourceSansPro;
    }
    
    .upload-profile-photo {
        width: 150px;
        height: 40px;
        margin-left: 25px;
        margin-top: 5px;
        border-radius: 2px;
        background-color: #0099ff;
        font-family: SourceSansPro;
        font-size: 13px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        padding: 13px;
        cursor: pointer;
    }
    
    .ellipse-10 {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-left: 25px;
        background: aqua;
    }
    
    .modal-footer {
        margin-top: -12px !important;
    }
    
    .profile-close-icon {
        position: absolute;
        right: 105px;
        font-size: 20px;
        color: #0099ff;
    }
    
    .update-profile-header {
        font-family: BentonSans;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.17;
        letter-spacing: 1.08px;
        text-align: left;
        color: #ffffff;
        background-color: #55b3f3;
        padding-left: 10px;
    }
    
    .choose-file-container {
        width: 295px;
        background: #55b3f3;
        height: 36px;
        border-radius: 8px;
    }
    
    .align-container {
        position: relative !important;
        bottom: 10px !important;
    }
    
    .choose-file-input-container {
        position: relative;
        z-index: 1000;
        top: 3px;
        left: 12px;
        outline: none;
    }
    
    .second-file {
        position: absolute;
        left: 345px;
        top: 0px;
    }
    
    .second-span {
        top: 35px;
        position: relative;
    }
    
    .no_outline {
        outline: none;
    }
    /* ************************** */
    
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }
    
    .btn-upload {
        color: #0099ff;
        background-color: white;
        padding: 8px 20px;
        font-size: 11px;
        font-weight: bold;
        margin: 6px 13px 0px 43px;
        border-radius: 2px;
        border: solid 1px #0099ff;
    }
    
    #upload-btn-wrapper {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
    
    #upload-btn-align {
        top: 6px !important;
        left: 335px !important;
    }
    
    .kol-first-sample-download-label {
        position: relative !important;
        top: 0px !important;
        left: 150px !important;
    }
    
    .kol-first-sample-download-logo {
        position: relative !important;
        left: 195px !important;
        top: 12px !important;
    }
    
    .kol-second-sample-download-label {
        top: 0px !important;
        left: 149px !important;
        position: relative !important;
    }
    
    .kol-second-sample-download-logo {
        position: relative !important;
        left: 193px !important;
        top: 12px !important;
    }
    
    .main-input-block {
        /* width: 100%; */
        height: auto;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        border: solid 0.7px #55b3f3;
        background-color: #ffffff;
    }
    
    .name--switch-tag {
        width: 105px;
        height: 27px;
        font-family: BentonSans;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: 0.84px;
        text-align: left;
        background-color: #55b3f3;
        border-radius: 4px 4px 0px 0px;
        color: #ffffff;
        border: none;
        cursor: pointer;
        outline: none;
    }
    
    .name--switch-tag.active {
        background-color: #55b3f3;
    }
    
    .name--switch-tag.inactive {
        background-color: #a2a2a2;
    }
    
    .main-div-switch {
        position: relative;
        top: 10px;
        left: -15px;
    }
    
    button:focus {
        outline: none !important;
    }
    
    .btn-label {
        font-family: SourceSansPro;
        font-size: 13px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
    }
    
    .reset-btn {
        width: 91px;
        height: 28px;
        border-radius: 4px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        font-family: BentonSans;
        font-size: 11px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: 0.88px;
        text-align: center;
        color: #000;
        border: 0.5px;
        cursor: pointer;
        border: 0.5px solid;
        z-index: 9999;
    }
    
    .search-btn {
        width: 91px;
        height: 28px;
        border-radius: 4px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #458beb;
        font-family: BentonSans;
        font-size: 11px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: 0.88px;
        text-align: center;
        color: #ffffff;
        border: 0.5px;
        cursor: pointer;
        z-index: 9999;
    }
    
    .dual-btn-group {
        float: right;
        position: relative;
        left: 74%;
        bottom: 4px;
    }
    /* Loader Css */
    
    .loader {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        position: absolute;
        left: 50%;
        top: 50%;
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    .hide-loader {
        display: none;
    }
    
    .show-loader {
        display: inline-block;
    }
    
    .page-card {
        border-radius: 6px;
        box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.06);
        /* background-color: #ffffff; */
        background-color: #e4e4e4;
        padding: 10px
    }
    
    .topGap15 {
        margin-top: -15px;
    }
    
    .date-labels {
        font-family: BentonSans;
        font-size: 12px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: 0.88px;
        text-align: center;
        color: #000;
    }
    
    .change-password-logo {
        position: absolute;
        top: 17px;
        left: 10px;
    }
    
    .update-profile-logo {
        position: absolute;
        top: 48px;
        left: 10px;
    }
    
    .logout-logo {
        position: absolute;
        top: 79px;
        left: 10px;
    }
    
    .dropdown-item {
        padding: .25rem 2.5rem !important;
    }