<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="/static/css/login.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <div class="container-fluid register">
        <div class="row">
            <div class="col-sm-6" class="col-height">
                <div class="gm-logo">
                    <img src="/static/img/Glocal-mindsmall-logo.png" alt="">
                </div>
                <div class="main-img">
                    <img src="/static/img/main-img.png" alt="" class="img-size">
                </div>
            </div>
            <div class="col-sm-6" class="col-height">
                <div>
                    {% if message %}
                    <h2>{{message}}</h2>
                    {% endif %}
                    <!-- <div class="form-box">
                        <form action="/submit/1" id="login" class="input-group" method="post">
                            <input type="text" name="realm" class="input-field" placeholder="Client Name" required>
                            <input type="text" name="id" class="input-field" placeholder="User ID" required>
                            <input type="password" name="password" class="input-field" placeholder="Password" required>
                            <input type="checkbox" class="check-box"> <span>Remember Password</span>
                            <a href=""><span style="margin-left: 248px;">Forgot Password?</span></a>
                            
                            <button type="submit" class="submit-button">Login</button>
                        </form>
                    </div> -->

                    <div class="right-block">
                        <div class="signin">Signin</div>

                        <form action="/submit/1" id="login" method="post">
                            <div class="row">
                                <span class="img-container">
                                    <img src="/static/img/support.svg" alt=""  class="img-alignment">
                                </span>
                                <input type="text" name="realm" placeholder="Client Name" class="login-input" required>
                            </div>
                            <div class="row topgap25">
                                <span class="img-container">
                                    <img src="/static/img/male.svg" alt="" class="img-alignment">
                                </span>
                                <input type="text" name="id" placeholder="User ID" class="login-input" required>
                            </div>
                            <div class="row topgap25">
                                <span class="img-container">
                                    <img src="/static/img/lock.svg" alt="" class="img-alignment">
                                </span>
                                <input type="password" name="password" placeholder="Password" class="login-input" required>
                            </div>
                            <div class="row topgap25">
                                <input type="checkbox" class="check-box"> <span class="span-block">Remember Password</span>
                                <a href=""><span class="span-block block-alignment">Forgot Password?</span></a>
                            </div>
                            <div class="row topgap25">
                                <button type="submit" class="submit-button">Login</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>



    </script>
</body>

</html>