<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Pubmed and Clinical Data</title>
    <!-- new -->
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    <style>
        .file-input {
            display: inline-block;
            text-align: left;
            background: #fff;
            padding: 0px;
            width: 177px;
            position: relative;
            border-radius: 3px;
            border: solid 1px #0099ff !important;
        }
        
        .file-input>[type='file'] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 10;
            cursor: pointer;
        }
        
        .file-input>.button {
            display: inline-block;
            cursor: pointer;
            background: #eee;
            padding: 0px 5px;
            border-radius: 2px;
            margin-right: 0px;
        }
        
        .file-input:hover>.button {
            background: dodgerblue;
            color: white;
        }
        
        .file-input>.label {
            color: #232323;
            white-space: nowrap;
            font-size: 12px;
            font-weight: 400;
        }
        
        .file-input.-chosen>.label {
            opacity: 1;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>
                    <div class="logo-border">
                        <a href="{{ url_for('.home', page_num=1) }}" data-toggle="Home" title="Home">
                            <img src="/static/img/glocalmind.jpg" class="glocal-mindsmall-logo">
                        </a>
                    </div>
                </h3>
                <strong>
                    <div class="logo-border-small">
                        <a href="{{ url_for('.home', page_num=1) }}" data-toggle="Home" title="Home">
                            <img src="/static/img/glocalmind.jpg" class="glocal-mindsmall-logo-small">
                        </a>
                    </div>
                </strong>
            </div>

            <ul class="list-unstyled components">

                <li>
                    <a class="active" href="{{ url_for('.home', page_num=1) }}" data-toggle="tooltip" title="Home">
                        <img src="/static/img/home-blue.svg" alt="" class="logo-container"> <strong class="padding-left10">Home</strong>
                    </a>
                </li>
                {% if role == "Admin" or role == "Superadmin" or role == "Supplier" or role=="Employee"%}
                <li>
                    <a href="{{ url_for('.crawler_tool', page_num=1) }}" data-toggle="tooltip" title="Google Crawler">
                        <img src="/static/img/bug.svg" alt="" class="logo-container"> <strong class="padding-left10">Google
                                Crawler</strong>
                    </a>
                </li>
                {% endif %} {% if role == "Admin" or role == "Superadmin" or role=="Extraction" or role=="Employee" %}
                <li>
                    <a href="{{ url_for('.twitter_tool', page_num=1) }}" data-toggle="tooltip" title="Data Extraction">
                        <img src="/static/img/twitter (1).svg" alt="" class="logo-container"> <strong class="padding-left10">
                                Data Extraction</strong>
                    </a>
                </li>
                {% endif %} {% if role == "Admin" or role == "Superadmin" or role == "Supplier" or role=="Employee" %}
                <li>
                    <a href="{{ url_for('.pubmed_clinical_tool', page_num=1) }}" data-toggle="tooltip" title="Pubmed & Clinical Data">
                        <img src="/static/img/folder-black.svg" alt="" class="logo-container"> <strong class="padding-left10">Pubmed and Clinical Data</strong>
                    </a>
                </li>
                {% endif %} {% if role == "Admin" or role == "Superadmin" or role=="Ranking" or role=="Employee" %}
                <li>
                    <a href="{{ url_for('.kol_ranking_tool', page_num=1) }}" data-toggle="tooltip" title="KOL Ranking">
                        <img src="/static/img/user (1).svg" alt="" class="logo-container"> <strong class="padding-left10">KOL
                                Ranking</strong>
                    </a>
                </li>
                {% endif %} {% if role == "Admin" or role == "Superadmin" %}
                <li>
                    <a href="{{ url_for('.user_management', page_num=1) }}" data-toggle="tooltip" title="KOL Ranking">
                        <img src="/static/img/user-M-black.svg" alt="" class="logo-container"> <strong class="padding-left10">User Management
                                    </strong>
                    </a>
                </li>
                {% endif %} {% if role == "Superadmin" %}
                <li>
                    <a href="{{ url_for('.client_management', page_num=1) }}" data-toggle="tooltip" title="KOL Ranking">
                        <img src="/static/img/client-M-black.svg" alt="" class="logo-container"> <strong class="padding-left10">Client Management</strong>
                    </a>
                </li>
                {% endif %}

                <li>
                    <a href="/" data-toggle="tooltip" title="Logout" class="logout-Container">
                        <img src="/static/img/logout.svg" alt="" class="logo-container">
                    </a>
                </li>
            </ul>
        </nav>

        <button type="button" id="sidebarCollapse" class="btn btn-info btn-collapsable">
            <i class="fas fa-align-left toggle"></i>
        </button>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">

                <div class="container-fluid">


                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item" id="header-label">
                                KOL Management System
                            </li>
                            <li class="nav-item" style=" margin: auto; padding-right: 15px;">
                                <img src="/static/img/user-profile.svg" alt="" width="30px">
                                <span>{% if username %} {{username}} {% endif %}</span>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown">
                                    <i class="fa fa-chevron-circle-down" aria-hidden="true" class="dropdown-toggle" data-toggle="dropdown" style="margin-top: 6px;"></i>
                                    <div class="dropdown-menu" id="left-side-panel">
                                        <div>
                                            <i class="fas fa-key change-password-logo"></i>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#myModal">Change Password</a>
                                        </div>
                                        <div>
                                            <i class="fas fa-pencil-alt update-profile-logo"></i>
                                            <a class="dropdown-item" href="{{ url_for('.update_profile')}}">Update Profile</a>
                                        </div>
                                        <div>
                                            <i class="fas fa-sign-out-alt logout-logo"></i>
                                            <a class="dropdown-item" href="/">Logout</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- The Modal -->
                                <form action="{{url_for('password_changed')}}" method="post">
                                    <div class="modal" id="myModal">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Change Password</h5>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>

                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    <div class="col-sm-12 modal-spacing">
                                                        <input type="email" name="email" placeholder="Email" class="input-width" required>
                                                    </div>
                                                    <div class="col-sm-12 modal-spacing">
                                                        <input type="password" id="pass_log_id" name="password" placeholder="New Password" class="input-width" onchange='check_pass();' required>
                                                        <span toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password">Show/Hide</span>
                                                    </div>
                                                    <div class="col-sm-12 modal-spacing">
                                                        <input type="password" id="confrim_pass_log_id" name="confirm_password" placeholder="Confirm Password" class="input-width" onchange='check_pass();' required>
                                                        <span toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-confrim-password">Show/Hide</span>

                                                    </div>
                                                </div>

                                                <!-- Modal footer -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-white" data-dismiss="modal">BACK</button>
                                                    <button type="submit" id="submit_button" class="btn btn-blue">SAVE</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container-fluid">
                <div class="pubmed-clinical-label">Pubmed and Clinical Data</div>
                <!-- swith tag -->
                <div class="main-div-switch">
                    <button id="btn1" class="name--switch-tag active">Single Names</button>
                    <button id="btn2" class="name--switch-tag inactive" style="width: 121px !important;">Multiple
                        Names</button>
                </div>

                <div class="row topgap10" id="singleNames">
                    <form action="/search_citations/1" method="post" enctype="multipart/form-data">
                        <div class="col-sm-12 main-input-block">
                            <div class="row topgap10">
                                <div class="col-sm-1"></div>

                                <div class="col-sm-2">
                                    <input type="text" name="FullName" placeholder="Full Name" class="custom-input-width" required>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="FirstName" placeholder="First Name" class="custom-input-width" required>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="MiddleName" placeholder="Middle Name" class="custom-input-width">
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="LastName" placeholder="Last Name" class="custom-input-width" required>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="Uid" placeholder="UId" class="custom-input-width" required>
                                </div>

                                <div class="col-sm-1"></div>
                            </div>
                            <div class="row topgap10">
                                <div class="col-sm-1"></div>

                                <div class="col-sm-2">
                                    <select name="search_type" id="" class="custom-input-width" required>
                                        <option value="Pubmed">Pubmed</option>
                                        <option value="Clinical Trails">Clinical Trails</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <input type="date" name="from_date" placeholder="Start date" class="custom-input-width">
                                </div>
                                <div class="col-sm-2">
                                    <input type="date" name="to_date" placeholder="End Date" class="custom-input-width">
                                </div>
                                <div class="col-sm-2">
                                    <input type="number" name="sheet_len" placeholder="Max Rows(per sheet)" value="50000" class="custom-input-width" required>
                                </div>
                                <div class="col-sm-2">
                                    <input type="number" name="records" placeholder="Max Records" value="4000" class="custom-input-width" required>
                                </div>

                                <div class="col-sm-1"></div>
                            </div>
                            <div class="row topgap15">
                                <div class="dual-btn-group">
                                    <button type="submit" class="reset-btn btn-label">RESET</button>
                                    <button type="submit" class="search-btn btn-label" id="search">SEARCH</button>
                                </div>
                            </div>
                        </div>
                    </form>

                    {% if json_list %}
                    <form action='/pubmed_clinicaltrail_search_output' method="post" class="full-width topgap10">
                        <table class="table">
                            <div class="table-box-header">KOL Data</div>
                            <thead>
                                <tr>
                                    <th>Request Type</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for query in json_list.items %}
                                <tr>
                                    <td>{{query.requesttype}}</td>
                                    <td>{{query.requestdate}}</td>
                                    <td>{% if query.status=="In Progress" %}<span class="status-box">{{query.status}}</span>{% endif %}{% if query.status=="Completed"%}<span class="status-box" style="background-color: #458beb">{{query.status}}</span>{% endif
                                        %}
                                    </td>
                                    <td>{% if query.status=="Completed"%}<button name="uuidno_output" value="{{query.uuidno}}" btn style="border:none; border-bottom: 1px solid black;"><img src="/static/img/arrow (1).svg" alt=""></button>{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>
                    <ul class="pagination">
                        {% if json_list.has_prev %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('.pubmed_clinical_tool', page_num=json_list.prev_num) }}">Previous</a></li>
                        {% endif %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('.pubmed_clinical_tool', page_num=1) }}">1</a></li>
                        {% if json_list.pages>1 %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('.pubmed_clinical_tool', page_num=2) }}">2</a></li>
                        {% endif %} {% if json_list.pages>2 %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('.pubmed_clinical_tool', page_num=3) }}">2</a></li>
                        {% endif %} {% if json_list.has_next %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('.pubmed_clinical_tool', page_num=json_list.next_num) }}">Next</a></li>
                        {% endif %}
                    </ul>
                    {% endif %} {% if all_json_list %}
                    <form action='/pubmed_clinicaltrail_search_output' method="post" class="full-width">
                        <table class="table">
                            <div class="table-box-header">KOL Data</div>
                            <thead>
                                <tr>
                                    <th>User Request</th>
                                    <th>Request Type</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for query in all_json_list.items %}
                                <tr>
                                    <td>{{query.username}}</td>
                                    <td>{{query.requesttype}}</td>
                                    <td>{{query.requestdate}}</td>
                                    <td>{% if query.status=="In Progress" %}<span class="status-box">{{query.status}}</span>{% endif %}{% if query.status=="Completed"%}<span class="status-box" style="background-color: #458beb">{{query.status}}</span>{% endif
                                        %}
                                    </td>
                                    <td>{% if query.status=="Completed"%}<button name="uuidno_output" value="{{query.uuidno}}" btn style="border:none; border-bottom: 1px solid black;"><img src="/static/img/arrow (1).svg" alt=""></button>{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>
                    <ul class="pagination">
                        {% if all_json_list.has_prev %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('.pubmed_clinical_tool', page_num=all_json_list.prev_num) }}">Previous</a></li>
                        {% endif %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('.pubmed_clinical_tool', page_num=1) }}">1</a></li>
                        {% if all_json_list.pages>1 %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('.pubmed_clinical_tool', page_num=2) }}">2</a></li>
                        {% endif %} {% if all_json_list.pages>2 %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('.pubmed_clinical_tool', page_num=3) }}">3</a></li>
                        {% endif %} {% if all_json_list.has_next %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('.pubmed_clinical_tool', page_num=all_json_list.next_num) }}">Next</a></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>


                <div class="row topgap10" id="multipleNames">
                    <form id="upload" action="/do_upload/1" method="post" enctype="multipart/form-data">
                        <div class="col-sm-12 main-input-block">
                            <div class="row topgap10">
                                <div class="col-sm-1"></div>

                                <div class="col-sm-2">
                                    <input type="date" name="from_date" placeholder="Start date" class="custom-input-width">
                                </div>
                                <div class="col-sm-2">
                                    <input type="date" name="to_date" placeholder="End Date" class="custom-input-width">
                                </div>
                                <div class="col-sm-2">
                                    <select name="search_type" id="" class="custom-input-width" required>
                                        <option value="Pubmed">Pubmed</option>
                                        <option value="Clinical Trails">Clinical Trails</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <input type="number" name="sheet_len" placeholder="Max Rows(per sheet)" value="10000" class="custom-input-width" required>
                                </div>
                                <div class="col-sm-2">

                                    <div class='choose-file-container' style="width: 90%">
                                        <input type='file' name="upload" class="choose-file-input-container">
                                    </div>
                                </div>

                                <div class="col-sm-1"></div>
                            </div>
                            <div class="row topgap15">
                                <div class="dual-btn-group">
                                    <button type="submit" class="reset-btn btn-label">RESET</button>
                                    <button type="submit" class="search-btn btn-label" id="searching" style="width:130px;">SAVE AND SEARCH</button>
                                </div>
                            </div>
                        </div>
                    </form>

                    {% if json_list %}
                    <form action='/pubmed_clinicaltrail_upload_output' method="post" class="full-width topgap10">
                        <table class="table">
                            <div class="table-box-header">KOL Data</div>
                            <thead>
                                <tr>
                                    <th>Request Type</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for query in json_list.items %}
                                <tr>
                                    <td>{{query.requesttype}}</td>
                                    <td>{{query.requestdate}}</td>
                                    <td>{% if query.status=="In Progress" %}<span class="status-box">{{query.status}}</span>{% endif %}{% if query.status=="Completed"%}<span class="status-box" style="background-color: #458beb">{{query.status}}</span>{%
                                        endif %}
                                        </td>
                                        <td><button name="uuidno_input" formaction="/pubmed_clinicaltrail_upload_input" method="post" value="{{query.uuidno}}" btn style="border:none; border-bottom: 1px solid black;"><img src="/static/img/download (1).svg" alt=""></button>{%
                                            if query.status=="Completed"%}<button name="uuidno_output" value="{{query.uuidno}}" btn style="border:none; border-bottom: 1px solid black;"><img src="/static/img/arrow (1).svg" alt=""></button>{% endif %}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                        </table>
                    </form>
                    <ul class="pagination">
                        {% if json_list.has_prev %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('.pubmed_clinical_tool', page_num=json_list.prev_num) }}">Previous</a></li>
                        {% endif %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('.pubmed_clinical_tool', page_num=1) }}">1</a></li>
                        {% if json_list.pages>1 %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('.pubmed_clinical_tool', page_num=2) }}">2</a></li>
                        {% endif %} {% if json_list.pages>2 %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('.pubmed_clinical_tool', page_num=3) }}">2</a></li>
                        {% endif %} {% if json_list.has_next %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('.pubmed_clinical_tool', page_num=json_list.next_num) }}">Next</a></li>
                        {% endif %}
                    </ul>
                    {% endif %} {% if all_json_list %}
                    <form action='/pubmed_clinicaltrail_upload_output' method="post" class="full-width">
                        <table class="table">
                            <div class="table-box-header">KOL Data</div>
                            <thead>
                                <tr>
                                    <th>User Request</th>
                                    <th>Request Type</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for query in all_json_list.items %}
                                <tr>
                                    <td>{{query.username}}</td>
                                    <td>{{query.requesttype}}</td>
                                    <td>{{query.requestdate}}</td>
                                    <td>{% if query.status=="In Progress" %}<span class="status-box">{{query.status}}</span>{% endif %}{% if query.status=="Completed"%}<span class="status-box" style="background-color: #458beb">{{query.status}}</span>{% endif
                                        %}
                                    </td>
                                    <td><button name="uuidno_input" formaction="/pubmed_clinicaltrail_upload_input" method="post" value="{{query.uuidno}}" btn style="border:none; border-bottom: 1px solid black;"><img src="/static/img/download (1).svg" alt=""></button>{%
                                        if query.status=="Completed"%}<button name="uuidno_output" value="{{query.uuidno}}" btn style="border:none; border-bottom: 1px solid black;"><img src="/static/img/arrow (1).svg" alt=""></button>{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>
                    <ul class="pagination">
                        {% if all_json_list.has_prev %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('.pubmed_clinical_tool', page_num=all_json_list.prev_num) }}">Previous</a></li>
                        {% endif %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('.pubmed_clinical_tool', page_num=1) }}">1</a></li>
                        {% if all_json_list.pages>1 %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('.pubmed_clinical_tool', page_num=2) }}">2</a></li>
                        {% endif %} {% if all_json_list.pages>2 %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('.pubmed_clinical_tool', page_num=3) }}">3</a></li>
                        {% endif %} {% if all_json_list.has_next %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('.pubmed_clinical_tool', page_num=all_json_list.next_num) }}">Next</a></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>

                    <div class="loader" id="loader"></div>

                    <!-- jQuery CDN - Slim version (=without AJAX) -->
                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                    <!-- Popper.JS -->
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
                    <!-- Bootstrap JS -->
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

                    <script type="text/javascript">
                        $(document).ready(function() {
                            $('#sidebarCollapse').on('click', function() {
                                $('#sidebar').toggleClass('active');
                            });

                            $('#loader').addClass("hide-loader");

                            $('#search').on('click', function() {
                                $('#loader').removeClass('hide-loader').addClass("show-loader");

                                setTimeout(function() {
                                    $('#loader').removeClass("show-loader").addClass('hide-loader');
                                    location.reload(true);
                                }, 10000);

                            })


                            $('#searching').on('click', function() {
                                $('#loader').removeClass('hide-loader').addClass("show-loader");

                                setTimeout(function() {
                                    $('#loader').removeClass("show-loader").addClass('hide-loader');
                                    location.reload(true);
                                }, 10000);

                            })

                        });


                        $(document).ready(function() {
                            var submitIcon = $('.searchbox-icon');
                            var inputBox = $('.searchbox-input');
                            var searchBox = $('.searchbox');
                            var isOpen = false;
                            submitIcon.click(function() {
                                if (isOpen == false) {
                                    searchBox.addClass('searchbox-open');
                                    inputBox.focus();
                                    isOpen = true;
                                } else {
                                    searchBox.removeClass('searchbox-open');
                                    inputBox.focusout();
                                    isOpen = false;
                                }
                            });
                            submitIcon.mouseup(function() {
                                return false;
                            });
                            searchBox.mouseup(function() {
                                return false;
                            });
                            $(document).mouseup(function() {
                                if (isOpen == true) {
                                    $('.searchbox-icon').css('display', 'block');
                                    submitIcon.click();
                                }
                            });
                        });

                        function buttonUp() {
                            var inputVal = $('.searchbox-input').val();
                            inputVal = $.trim(inputVal).length;
                            if (inputVal !== 0) {
                                $('.searchbox-icon').css('display', 'none');
                            } else {
                                $('.searchbox-input').val('');
                                $('.searchbox-icon').css('display', 'block');
                            }
                        }


                        //Active Class 
                        $(document).ready(function() {
                            $('ul li a').click(function() {
                                $('li a').removeClass("active");
                                $(this).addClass("active");
                            });
                        });


                        $('.top').on('click', function() {
                            $parent_box = $(this).closest('.box');
                            $parent_box.siblings().find('.bottom').hide();
                            $parent_box.find('.bottom').toggle();
                        });

                        // password toggle
                        $("body").on('click', '.toggle-password', function() {
                            $(this).toggleClass("fa-eye fa-eye-slash");
                            var input = $("#pass_log_id");
                            if (input.attr("type") === "password") {
                                input.attr("type", "text");
                            } else {
                                input.attr("type", "password");
                            }

                        });

                        $("body").on('click', '.toggle-confrim-password', function() {
                            $(this).toggleClass("fa-eye fa-eye-slash");
                            var input = $("#confrim_pass_log_id");
                            if (input.attr("type") === "password") {
                                input.attr("type", "text");
                            } else {
                                input.attr("type", "password");
                            }

                        });

                        $("#multipleNames").hide();

                        $(document).ready(function() {
                            $("#btn1").click(function() {
                                $("#singleNames").show();
                                $("#multipleNames").hide();
                            })
                        });

                        $(document).ready(function() {
                            $("#btn2").click(function() {
                                $("#multipleNames").show();
                                $("#singleNames").hide();
                            });

                        });

                        $('.name--switch-tag').addClass('active');

                        $(document).ready(function() {
                            $('.name--switch-tag').click(function() {
                                $('.name--switch-tag').removeClass('active').addClass('inactive');
                                $(this).removeClass('inactive').addClass('active');
                            });

                            $('#loader').addClass("hide-loader");

                            $('#search').on('click', function() {
                                $('#loader').removeClass('hide-loader').addClass("show-loader");

                                setTimeout(function() {
                                    $('#loader').removeClass("show-loader").addClass('hide-loader');
                                    location.reload(true);
                                }, 10000);

                            })
                        });

                        function check_pass() {
                            if (document.getElementById('pass_log_id').value ==
                                    document.getElementById('confrim_pass_log_id').value) {
                                document.getElementById('submit_button').disabled = false;
                            } else {
                                document.getElementById('submit_button').disabled = true;
                            }
                        }


                    </script>
</body>

</html>