<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Client Management</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>
                    <div class="logo-border">
                        <img src="/static/img/glocalmind.jpg" class="glocal-mindsmall-logo">
                    </div>
                </h3>
                <strong>
                    <div class="logo-border-small">
                        <img src="/static/img/glocalmind.jpg" class="glocal-mindsmall-logo-small">
                    </div>
                </strong>
            </div>

            <ul class="list-unstyled components">

                <li>
                    <a class="active" href="{{ url_for('.home', page_num=1) }}" data-toggle="tooltip" title="Home">
                        <img src="/static/img/home-blue.svg" alt="" class="logo-container"> <strong class="padding-left10">Home</strong>
                    </a>
                </li>
                {% if role == "Admin" or role == "Superadmin" or role == "Supplier" or role=="Employee"%}
                <li>
                    <a href="{{ url_for('.crawler_tool', page_num=1) }}" data-toggle="tooltip" title="Google Crawler">
                        <img src="/static/img/bug.svg" alt="" class="logo-container"> <strong class="padding-left10">Google
                                Crawler</strong>
                    </a>
                </li>
                {% endif %} {% if role == "Admin" or role == "Superadmin" or role=="Extraction" or role=="Employee" %}
                <li>
                    <a href="{{ url_for('.twitter_tool', page_num=1) }}" data-toggle="tooltip" title="Data Extraction">
                        <img src="/static/img/twitter (1).svg" alt="" class="logo-container"> <strong class="padding-left10">
                                Data Extraction</strong>
                    </a>
                </li>
                {% endif %} {% if role == "Admin" or role == "Superadmin" or role == "Supplier" or role=="Employee" %}
                <li>
                    <a href="{{ url_for('.pubmed_clinical_tool', page_num=1) }}" data-toggle="tooltip" title="Pubmed & Clinical Data">
                        <img src="/static/img/folder-black.svg" alt="" class="logo-container"> <strong class="padding-left10">Pubmed and Clinical Data</strong>
                    </a>
                </li>
                {% endif %} {% if role == "Admin" or role == "Superadmin" or role=="Ranking" or role=="Employee" %}
                <li>
                    <a href="{{ url_for('.kol_ranking_tool', page_num=1) }}" data-toggle="tooltip" title="KOL Ranking">
                        <img src="/static/img/user (1).svg" alt="" class="logo-container"> <strong class="padding-left10">KOL
                                Ranking</strong>
                    </a>
                </li>
                {% endif %} {% if role == "Admin" or role == "Superadmin" %}
                <li>
                    <a href="{{ url_for('.user_management', page_num=1) }}" data-toggle="tooltip" title="KOL Ranking">
                        <img src="/static/img/user-M-black.svg" alt="" class="logo-container"> <strong class="padding-left10">User Management
                                    </strong>
                    </a>
                </li>
                {% endif %} {% if role == "Superadmin" %}
                <li>
                    <a href="{{ url_for('.client_management', page_num=1) }}" data-toggle="tooltip" title="KOL Ranking">
                        <img src="/static/img/client-M-black.svg" alt="" class="logo-container"> <strong class="padding-left10">Client Management</strong>
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="/" data-toggle="tooltip" title="Logout" class="logout-Container">
                        <img src="/static/img/logout.svg" alt="" class="logo-container">
                    </a>
                </li>
            </ul>
        </nav>

        <button type="button" id="sidebarCollapse" class="btn btn-info btn-collapsable">
            <i class="fas fa-align-left toggle"></i>
        </button>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">

                <div class="container-fluid">


                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item" id="header-label">
                                KOL Mangement System
                            </li>
                            <li class="nav-item" style=" margin: auto; padding-right: 15px;">
                                <img src="/static/img/user-profile.svg" alt="" width="30px">
                                <span>{% if username %} {{username}} {% endif %}</span>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown">
                                    <i class="fa fa-chevron-circle-down" aria-hidden="true" class="dropdown-toggle" data-toggle="dropdown" style="margin-top: 6px;"></i>
                                    <div class="dropdown-menu" id="left-side-panel">
                                        <!-- <a class="dropdown-item" href="#">Change Password</a> -->
                                        <a class="dropdown-item" data-toggle="modal" data-target="#myModal">Change Password</a>
                                        <a class="dropdown-item" href="{{ url_for('.update_profile')}}">Update Profile</a>
                                        <a class="dropdown-item" href="/">Logout</a>
                                    </div>
                                </div>
                                <!-- The Modal -->
                                <form action="{{url_for('password_changed')}}" method="post">
                                    <div class="modal" id="myModal">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Change Password</h5>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>

                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    <div class="col-sm-12 modal-spacing">
                                                        <input type="email" name="email" placeholder="Email" class="input-width" required>
                                                    </div>
                                                    <div class="col-sm-12 modal-spacing">
                                                        <input type="password" id="pass_log_id" name="password" placeholder="New Password" class="input-width" onchange='check_pass();' required>
                                                        <span toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password">Show/Hide</span>
                                                    </div>
                                                    <div class="col-sm-12 modal-spacing">
                                                        <input type="password" id="confrim_pass_log_id" name="confirm_password" placeholder="Confirm Password" class="input-width" onchange='check_pass();'required>
                                                        <span toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-confrim-password">Show/Hide</span>

                                                    </div>
                                                </div>

                                                <!-- Modal footer -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-white" data-dismiss="modal">BACK</button>
                                                    <button type="submit" id = "submit_button" class="btn btn-blue">SAVE</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container-fluid">
                <div class="row topgap10 update-profile-header">
                    Update Profile
                </div>
                <form action="/save_profile" method="post" enctype="multipart/form-data">
                    <div class="row topgap10">
                        <div class="col-sm-3">
                            <div class="row">
                                <span class="profile-close-icon" style="right: 106px !important;"><i class="fas fa-times-circle"></i></span>
                                <div class="ellipse-10">

                                </div>
                            </div>
                            <div class="row">
                                <!-- <input id="customFile" type="file" name="myphoto" accept="image/*"/>
                                    <div type="submit" class="upload-profile-photo">Upload Profile Photo</div> -->
                                <div class="upload-btn-wrapper">
                                    <button class="btn-upload">Browse Photo</button>
                                    <input type="file" name="myphoto" id="upload-btn-wrapper" accept="image/*" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-3">
                                    <input type="text" placeholder="Name" name="name" class="custom-input-width" required>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" placeholder="Email" name="email" class="custom-input-width" required>
                                </div>
                                <div class="col-sm-3">
                                    <input type="number" placeholder="Contact" name="contact" class="custom-input-width" required>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" placeholder="Address" name="address" class="custom-input-width" required>
                                </div>
                            </div>
                            <div class="row topgap15">
                                <div class="col-sm-3">
                                    <input type="text" placeholder="Country" name="country" class="custom-input-width" required>
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-3"></div>
                            </div>
                        </div>
                        <div class="row topgap15" style="width: 100%;">
                            <div class="col-sm-5"></div>
                            <!-- <div class="col-sm-1">
	                            <button type="button" class="btn btn-white" data-dismiss="modal">BACK</button>
	                        </div> -->
                            <div class="col-sm-1">
                                <button type="submit" class="btn btn-blue">SAVE</button>
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                    </div>
                </form>
            </div>



        </div>
    </div>
    </div>










    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').toggleClass('active');
            });
        });

        // KOL Tab

        $("#tile-1 .nav-tabs a").click(function() {
            var position = $(this).parent().position();
            var width = $(this).parent().width();
            $("#tile-1 .slider").css({
                "left": +position.left,
                "width": width
            });
        });
        var actWidth = $("#tile-1 .nav-tabs").find(".active").parent("li").width();
        var actPosition = $("#tile-1 .nav-tabs .active").position();
        $("#tile-1 .slider").css({
            "left": +actPosition.left,
            "width": actWidth
        });


        function check_pass() {
            if (document.getElementById('pass_log_id').value ==
                    document.getElementById('confrim_pass_log_id').value) {
                document.getElementById('submit_button').disabled = false;
            } else {
                document.getElementById('submit_button').disabled = true;
            }
        }
        
    </script>
</body>

</html>